*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #222;
    background-image: url("");
}

.header1{
    background: linear-gradient(135deg, #113366, #a49cd6);
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100px;
    line-height: 100px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-wrap: wrap;
    display: block;
    flex-shrink: 2;
    position: sticky;
}   

#currentDay{
    position: relative;
    left: 57.5%;
    bottom: -65px;
}

.mainstage{
    display:flex;
}

.card{
    width: 90% ;
    max-width: 470px;
    background: linear-gradient(135deg, #113366, #a49cd6);
    color: #fff;
    margin: 100px auto 0;
    margin-left:5%;
    border-radius: 20px;
    padding: 40px 35px;
    text-align:center;
}

.search{
    width:100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right:16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    margin-top: 50px;
}

.forecastcard{
    width: 90% ;
    max-width: 800px;
    background: linear-gradient(135deg, #113366, #a49cd6);
    color: #fff;
    margin: 150px auto 0;
    margin-left:5%;
    border-radius: 20px;
    padding: 40px 35px;
    display: flex;
}

.detailsforecast{
    font-size: 28px;
    font-weight: bolder;
    display: inline;
    padding:0 20px;
}

.detailsforecast p{
    opacity: 0.8;
}

.fivedaycast ul{
    border-radius: 2%;
    width: 745px;
    list-style-type: none;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    position: relative;
    bottom: -15px;
    line-height: 80px;
    
}

.fivedaycast li{
    padding-left: 25px;
    padding-top: 5px;
    margin-top: 15px;
    width: auto;
    background-color: #222;
    border-radius: 8px;
}

.fivedaycast img{
    width: 70px;
}

@media screen and (max-width: 965px) {
    .mainstage{
        display: block;
    }
    .card{
        position: relative;
        bottom: -100px;
        align-content: center;
        margin: auto;
    }

    .forecastcard{
        position: relative;
        bottom: -125px;
        width: 470px;
        margin: auto;
    }
    #currentDay{
        position: relative;
        left: 0;
        bottom: 0;
    }
  }